pandas
numpy
scikit-learn
scipy
pyarrow
lightgbm
implicit

fastapi
uvicorn

mlflow
dvc

evidently

great_expectations

pandera

prometheus-client

matplotlib
plotly

pyyaml

python-dotenv

joblib

tqdm

pytest